@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap');

#menu {
    position: absolute;
    left: 50%;
    top: 50%;
	background: rgba(0, 0, 0, 0.45);
	backdrop-filter: blur(20px);
    transform: translate(-50%, -50%);
    width: 40vw;
    padding: 2em;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: 'Roboto', sans-serif;
    color: #fff;
    overflow: hidden;
    transition: opacity 0.25s ease-in-out;
}

.name {
    font-size: 2rem;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 6px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}



.game-description {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 1em 0;
    line-height: 1.6;
}

.instructions {
    text-align: left;
    margin: 2em 0;
    border: 1px solid white;
    padding: 10px;

}

.instructions ul {
    padding: 0;
    list-style-type: none;
}

.instructions li {
    line-height: 1.6;
    margin: 0.5em 0;
    position: relative;
    padding-left: 1.4em;
}

.instructions li:before {
    content: '•';
    position: absolute;
    left: 0;
    color: white;
    font-size: 1.2em;
}

